body {
    background: url('../../../build/img/pattern.png');
}
.wrap {
    width: 1200px;
    margin: 0px auto;
}
.icon {
    font-family: 'WebSymbols';
    margin-top: 0px;
}
.clearfix {
    float: none;
    clear: both;
}
