section {
    #articles {
        width: 100%;
        @include desktop {
            float: left;
            width: 90%;
            margin-left: 30px;
            width: 960px;
        }
        h2 {
            display: block;
            width: 99%;
            height: 75px;
            line-height: 75px;
            text-align: center;
            font-family: 'BebasNeue';
            font-size: 40px;
            letter-spacing: 2px;
            background: url('../../../build/img/pxgray.png'), #fff;
            box-shadow: $headingShadow;
            margin-top: 20px;
        }
        article {
            width: 80%;
            height: auto;
            border: 1px solid #ccc;
            margin: 10px auto;
            font-family: 'Trebuchet';
            background: #fff;
            color: #000;
            box-shadow: 1px 1px solid 2px #ddd;
            @include tablet {
                width: 90%;
                padding: 10px; 
            }
            h4 {
                display: block;
                font-size: 23px;
                margin: 3px;
                a{
                    text-decoration: none;
                    color: #00538c;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .data {
                background: #393d3f;
                color: #fff;
                height: 30px;
                font-size: 13px;
                line-height: 30px;                
                padding: 4px;
                margin-bottom: 10px;
                span {
                    margin: 5px;
                }
                @include tablet {
                    border-radius: 0px 0px 0px 5px;
                    float: right;
                    margin: -10px;
                }
            }
            p {
                margin-top: 20px;
                font-size: 15px;
                line-height: 20px;

            }
        }
        #blog-linker {
            width: 80%;
            height: 100px;
            margin: 30px auto;
            background: #fff;
            border: 1px solid #ccc;
            transition: all 1s;
            @include tablet {
                width: 90%;
                margin-top: 60px;
                margin-bottom: 60px;
                margin-left: 40px;
            }
            @include desktop {
                padding: 10px;
            }
            a {
                display: block;
                line-height: 100px;
                text-align: center;
                font-family: 'BebasNeue';
                font-size: 40px;
                letter-spacing: 3px;
                text-decoration: none;
                color: #00538c;
            }
            &:hover {
                border: 10px solid $lightBlue;
                border-radius: 240px;
                box-shadow: 0px 0px 10px gray;
                background-color: #333;
                animation: blink 10s infinite linear;
                a {
                    text-shadow: 1px 1px 1px #000,
                                 1px 2px 1px #000,
                                 1px 3px 1px #000,
                                 1px 4px 1px #000,
                                 1px 5px 1px #000;
                    color: white;    
                }
            }
        }

    }
}