#aside
    {
        width: 100%;
        font-family: 'Trebuchet';
        margin: 20px;
        margin-left: 0px;
        padding-top: 20px;
        clear: both;       
        float: none;
        @include desktop{
            float: right;
            width: 300px;
            min-height: 1200px;
            padding-top: 0px;   
        }

        h3 {
        display: block;
        width: 100%;
        height: 45px;
        font-family: 'BebasNeue';
        font-size: 30px;
        font-weight: normal;
        letter-spacing: 2px;
        line-height: 50px;
        text-transform: uppercase;
        box-shadow: $headingShadow;
        background: url('../../../build/img/pxgray.png');
        margin-top: 30px;
        margin-bottom: 15px;
            &:first-child {
                margin-top: 0px;
            }
            @include tablet {
                padding-left: 15px;
                width: 60%;
            }
                @include desktop {
                    width: 90%;
                    margin-left: 0px; 
                }
        }
        #search {
            width: 80%;
            height: 30px;
            margin: 5px auto;
            background-color: #fff;
            border-radius: 5px;
            border: 1px solid #ccc;
            box-shadow: 1px 1px 4px #ccc inset;
            button {
                height: 30px;
                font-size: 16px;
                background-color: transparent;
                border: none;
                border-left: 1px solid #ccc;
                color: #555;
                text-align: center;
                cursor: pointer;
                @include desktop {
                    padding-left: 12px;
                }
            }
        }
        .aside-box {
            width: 85%;
            height: 240px;
            margin: 20px auto 0px;
            padding-top: 2px;
            background: #fff;
            box-shadow: 0px 0px 1px rgba( 0,0,0, 0.3), 
                        0px 3px 7px rgba(0,0,0, 0.3), 
                        0px 1px #fff inset, 
                        0px -3px 2px rgba( 0,0,0, 0.3) inset;
        }
        input[type="text"] {
            width: 88%;
            height: 25px;
            border: none;
            padding-left: 0px;
            border-radius: 5px;
            background-color: transparent;
            color: #ccc;
            transition: all 0.3s;
            &:focus{
                color: #555;
                outline: none;
            }
            @include tablet {
                width: 93%;
            }
                @include desktop {
                    width: 80%;
                }
        }
        #login {
            input[type="email"],input[type="password"]{
                display: block;
                margin: 20px auto 0px;
                width: 80%;
                height: 30px;
                border: 1px solid #ccc;
                padding-left: 35px;
                box-shadow: 1px 1px 1px #ccc inset;
                border-radius: 5px;
                &:focus {
                    border: none;
                    color: #555;
                    box-shadow: 1px 1px 1px gray inset;
                }
            }            
            #user, #password {
                display: block;
                text-align: center;
                position: absolute;
            }
            #user {
                margin-left: 15px;
                margin-top: 8px;
                height: 30px;
            }
            #password {
                margin-top: 30px;
                margin-left: 18px;
                height: 30px;
            }
            button {
                text-align: center;
                width: 100px;
                height: 35px;
                margin-top: 20px;
                margin-bottom: 20px;
                margin-left:16px;
                font-size: 15px;
                font-family: 'Trebuchet';
                font-weight: lighter;
                color: #fff;
                background: linear-gradient(to bottom, #3eb8e5 0%, #2ca0ca 100%);
                border: 1px solid #156785;
                cursor: pointer;
                transition: all 0.3s;
                &:hover{
                    box-shadow: 0px 0px 3px gray;
                }
            }
            a {
                display: block;
                text-decoration: none;
                margin-left: 18px;
                font-size: 14px;
                color: #555;
                &:hover {
                    text-decoration: undeline;
                    color: #2f78bc;
                }
                &:last-child{
                    margin-top: 5px;
                }
            }
        }
        #social {
            height: 200px;
            a{
                display: block;
                text-decoration: none;
                font-size: 30px;
                margin-top: 20px;
                margin-left: 20px;
                color: #333;
            }
            .overlay {
                display: block;
                height: 20px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                letter-spacing: 1px;
                text-shadow: 0px 0px 1px #ccc;
                border: 3px solid #fff;
                box-shadow: 0px 0px 4px #ccc;
                background: #f4f7fe;
                position: absolute;
                padding: 5px;
                margin-left: 65px;
                margin-top: -30px;
                transform: translateX(-80%);
                opacity: 0;
                transition: all 0.4s;
            }
            & div:hover {
                .overlay{
                    opacity: 1;
                    transform: translateX(0%);
                }
            }
        }
    }

