#cards {
        width: 80%;
        margin: 0px auto;
        text-align: center;
        @include tablet {
            padding-left: 50px;
            }
        @include desktop {
            padding-left: 0px;
        }
      .card {
          display: inline-block;
          width: 100px;
          height: 100px;
          padding: 5px;
          background: #fff;
          overflow: hidden;
          border: 1px solid #ccc;
          box-shadow: 1px 1px 2px #ddd;
          cursor: pointer;
          transition: all 0.3s;
          margin-top: 5px;
            @include tablet {
                float: left;
                width: 205px;
                height: 305px;
                margin: 10px 5px;
            }
                @include desktop {
                    margin: 40px 16px 20px;
                }
          .icon {
              display: block;
              width: 100%;
              line-height: 55px;
              font-size: 30px;
              text-align: center;
              margin: 0px auto;
              transition: all 0.5s;
              @include tablet {
                height: 130px;
                line-height: 130px;
                font-size: 50px;
              }
          }
          .category {
              width: 100%;              
              font-family: 'Trebuchet';
              font-size: 12px;
              font-weight: bold;
              text-align: center;
              color: #00538c;
              margin-bottom: 0px;
              transition: all 0.5s;
              @include tablet {
                height: 50px;
                font-size: 21px;
              }
          }
          .description {
              display: none;
              margin: 0px 10px;
              text-align: center;
              color: #0677c2;
              font-family: 'Trebuchet';
              transition: all 0.3s;
              @include tablet {
                  display: block;
              }
          }
          &:hover {
              background-color: #000;
              .icon {
                  font-size: 70px;
                  color: #37bcf9;
                  animation: showIcon 0.3s linear;
              }
              .category {
                  color: white;
                  animation: showCategory 0.4s linear;
              }
              .description {
                  animation: showDescription 0.4s linear;
                  color: #fff;
              }              
          }
      }      
}   