#cards {
        padding-left: 50px;
        @include desktop {
            padding-left: 0px;
        }
      .card {
          float: left;
          width: 205px;
          height: 305px;
          background: #fff;
          overflow: hidden;
          margin: 10px 5px;
          border: 1px solid #ccc;
          box-shadow: 1px 1px 2px #ddd;
          cursor: pointer;
          transition: all 0.3s;
          @include desktop {
            margin: 40px 16px 20px;
          }
          .icon {
              display: block;
              width: 100%;
              height: 130px;
              font-size: 50px;
              line-height: 130px;
              text-align: center;
              margin: 0px auto;
              transition: all 0.5s;
          }
          .category {
              width: 100%;
              height: 50px;
              font-family: 'Trebuchet';
              font-size: 21px;
              font-weight: bold;
              text-align: center;
              color: #00538c;
              margin-bottom: 0px;
              transition: all 0.5s;
          }
          .description {
              margin: 0px 10px;
              text-align: center;
              color: #0677c2;
              font-family: 'Trebuchet';
              transition: all 0.3s;
          }
          &:hover {
              background-color: #000;
              .icon {
                  font-size: 70px;
                  color: #37bcf9;
                  animation: showIcon 0.3s linear;
              }
              .category {
                  color: white;
                  animation: showCategory 0.4s linear;
              }
              .description {
                  animation: showDescription 0.4s linear;
                  color: #fff;
              }              
          }
      }      
}   