footer {
    width: 100%;
    height: 1150px;
    background: #000000;
    color: white;
    @include tablet {
        height: 800px;
        padding-bottom: 20px;
    }
    @include desktop {
        padding: 20px;
        height: 470px;
    }
    > div  {
        color: #fff;
        font-family: 'Trebuchet';
        text-align: center;
        @include desktop {
            float: left;
        }
    }
    .menu_footer {
        width: 100%;

        @include desktop {
            width: 10%;
            margin-right: 20px;
        }
    }
    .location, .info {
        width: 100%;
        @include tablet {
            width: 40%;
        }
    }
    .location {
        float: none;
        @include tablet{
            margin-left: 40px;
            float: left;
        }
            @include desktop {
                
            }
    }
    nav {
        ul {
            text-align: left;
            padding: 10px;
            list-style: none;
            li {
                margin-top: 10px;
                display: inline-block;
                margin-right: 20px;                
            }
            @include desktop {
                text-align: left;
                li {
                    border-bottom: 1px solid #ccc;
                    &:hover {
                        a {
                            padding-left: 40px;
                        }
                    }
                }
            }
        }
        a {
            display: block;
            height: 40px;
            text-decoration: none;
            font-size: 25px;
            color: $lightBlue;
            transition: all 0.3s;
            
        }
    }
    h4 {
        display: block;
        background: url('../../../build/img/pxgray.png'), #fff;
        height: 50px;
        margin-top: 10px;
        margin-bottom: 30px;
        letter-spacing: 2px;
        font-family: 'BebasNeue';
        font-size: 30px;
        line-height: 50px;
        color: black;
        @include desktop {
            font-size: 40px;
        }
    }
    iframe {
        width: 80%;
        height: 300px;
        margin-top: 10px;
        border-radius: 5px;
        border: 5px solid white;
        box-shadow: 0px 0px 5px gray;
    }
    .info {
        float: none;
        @include tablet {
            margin-right: 40px;
            float: right;
        }
        .browser {            
                width: 45px;
            }
    }    
    .min-fix {
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .footer-logo {
        width: 180px;
    }
}
