header {
    width: 100%;
    height: 300px;
    background-color: #000;
    font-family: 'BebasNeue';
    color: #fff;
    @include tablet {
        height: 70px;
    }
    #logo {
        display: none;
        float: left;
        width: 200px;
        height: 55px;
        margin-top: 8px;
        margin-left: 20px;
        background-color: $lightBlue;
        text-align: center;
        letter-spacing: 1px;
        cursor: pointer;
        overflow: hidden;
        transition: all 0.3s;
        &:hover {
            border-radius: 2px;
            color: #000;
            background: #ccc;
            .gear {
                animation: fromBellow 0.5s linear;
            }
            h3 {
                animation: fromRight 0.3s linear;
            }
        }
        .gear{
            font-family: 'WebSymbols';
            display: block;
            float: left;
            font-size: 30px;
            margin-top: 8px;
            margin-left: 26px;
            /*animation*/
            animation-name: rotate-gear;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;           
        }
        h3 {
            display: block;
            font-size: 40px;
            float: right;
            margin-top: 5px;
            margin-right: 65px;
            transition: all 0.3s;
        }
        @include tablet {
            display: block;
        }
    }
    nav {    
        ul {
            height: 70px;
            margin-top: 0px;
            padding-left: 0px;
            list-style: none;
            @include tablet {
                float: right;
            }    
            li {
                text-align: center;
                font-size: 24px;
                display: block;
                margin: 0px 20px;
                letter-spacing: 1px;
                line-height: 70px;
                @include tablet {
                    display: inline-block;
                }
                a {
                    display: block;
                    color: #fff;
                    text-decoration: none;
                    transition: all 0.2s;
                    &:hover {
                        color: $lightBlue ;
                        @include tablet {
                            transform: scale(1.2, 1.2); 
                        }
                    }
                }
            }
        }
    }
}